// All color variables are stored here


// Base colors
$white: #ffffff !default;
$dark-grey: #212121 !default;
$light-blue: #29a9dc !default;
$dark-blue: #2a72db !default;
$light-green: #d1e6cd !default;


// All color variables
$brand-color:  $light-blue !default;
$text-color: $dark-grey !default;
