// Global variables are stored here

$background-image: url('../assets/blues_banner.jpg');

$box-shadow--1: 0px 0px 1px 0px rgba($text-color, 0.75);
$box-shadow--4: 0px 0px 4px 0px rgba($text-color, 0.75);